//portfolio fade in animation
.portfolio {
  animation: animateFadeIn 800ms ease-in forwards;
}

@keyframes animateFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#floating-nav li.active a {
  color: #fff;
  background: #000;
}
