.swiper {
  height: fit-content;
  padding-bottom: 3rem !important;
  // may need for firefox
  // height: 30rem;
}
// .swiper-pagination {
//   bottom: -33px;
// }

.swiper-pagination-bullet {
  background-color: var(--tertiary-color) !important;
}
