.swiper {
  height: fit-content;
  padding-bottom: 3rem !important;
  // may need for firefox
  // height: 30rem;
}
// .swiper-pagination {
//   bottom: -33px;
// }

.swiper-pagination-bullet {
  background-color: var(--tertiary-color) !important;
  border-radius: 0% !important;
}
.swiper-pagination-bullet-active {
  width: 15px !important;
}

// equal height for all slides
.portfolio-projects {
  .swiper-slide {
    height: auto !important;
  }
}
